@import '../../variables.scss';

.footer {
  padding: 1em 0em 1em 0em;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  background: $menu-color;
  color: $link-color;
  font-size: small;
}

.footer__logo {
  margin: 0em 3em 1em 3em;
}

.footer__logo img {
  width: 6em;
  height: 6em;
}

.footer__details {
  a {
    text-decoration: none;
    color: $primary-color;
    text-decoration: none;
  }
  a:hover {
    color: $primary-color;
    text-decoration: none;
  }

  hr {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid rgb(92, 90, 90);
  }
}

ul {
  margin: 0em;
  padding: 0em;
}
ul li {
  list-style-type: none;
  margin: 1em;
}

.footer__details__item {
  font-weight: bold;
}
