@import '../../variables.scss';

.contact {
  align-items: center;
  text-align: center;
  color: $page-color;
}

.contact__card {
  padding-top: 1rem;
  height: auto;
  max-width: 50%;
  display: block;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px $primary-color-variant, 0 1px 2px $primary-color-variant;
  transition: all 0.2s ease-in-out;
  background-color: $primary-color;
}

.contact__card__avatar {
  content: url('../../images/avatar.png');
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
}

.contact__card__avatarContainer {
  display: flex;
  justify-content: center;
}

.contact__card__phone,
.contact__card__email {
  margin: 1em;
  a {
    color: $page-color;
  }
}

@media screen and (max-width: 600px) {
  .contact__card {
    max-width: 90%;
  }
}
