@import '../../variables.scss';

.contact {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $link-color;
}

.contact__card {
  padding-top: 1rem;
  height: auto;
  display: block;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 3px $page-color, 0 1px 2px $page-color;
  transition: all 0.2s ease-in-out;
  background-color: $page-color;
}

.contact__card__avatar {
  content: url('../../images/avatar.png');
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
}

.contact__card__avatarContainer {
  display: flex;
  justify-content: center;
}

.contact__card__phone,
.contact__card__email {
  margin: 1em;
  a {
    color: $link-color;
  }
}
