@import '../../variables.scss';

.items {
  text-align: center;
  padding: 0.5em;
  ul {
    display: inline;
    font-size: $fontsize-nav;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
  }

  li {
    display: inline;
  }
  a {
    text-decoration: none;
  }
}
