@import '../../variables.scss';

.navItem--active {
  border-bottom: 1px solid $primary-color;
  transition: border-bottom 0.5s ease-in-out;
  font-weight: bold;
}

.navItem:hover {
  color: $link-color;
}

.navItem {
  display: inline;
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.navItem a {
  color: $link-color;
}

.navItem:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 600px) {
  .navItem li {
    display: block;
  }
  .navItem {
    display: inline;
    padding: 0.4em;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
