@import '../../variables.scss';

.about__section,
.about__section__secondary,
.about__section__tertiary {
  padding-left: 5em;
  padding-right: 5em;
}

.about__section__secondary {
  background-color: $secondary-color;
}

.about__section__tertiary {
  background-color: $tertiary-color;
}
