@import '../../variables.scss';

.contact__form {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contactSection__avatar {
  content: url('../../images/avatar.png');
  height: 5em;
  width: 5em;
  color: $link-color;
  border-radius: 2.5em;
}

.contactSection__avatarContainer {
  display: flex;
  justify-content: center;
}

.contactSection__phone,
.contactSection__email {
  margin: 1em;
  color: $link-color;
  a {
    text-decoration: none;
    color: $link-color;
  }
}

.contactSection__title {
  padding: 1em;
}
