@import '../../variables.scss';

.header {
  background-color: $link-color;
  a {
    display: inline-block;
    margin: 1em 0;
    padding: 0 2em;
    text-decoration: none;
    color: $link-color-light;
  }
}
