@import './variables.scss';

.app {
  font-family: sans-serif;
  text-align: center;
}

.logo__container {
  display: flex;
  justify-content: center;
}

.logo {
  content: url(./images/logo.png);
  object-fit: cover;
  width: 10%;
  height: auto;
  margin: 1em;
}

h1,
h2 {
  color: $link-color;
}

p {
  font-size: $fontsize-p;
  color: $link-color;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 1em;
}

body {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  padding: 3em;
  color: #fff;
}

section:nth-of-type(1) {
  background: lavender;
}

section:nth-of-type(2) {
  background: lightyellow;
}

section:nth-of-type(3) {
  background: transparent;
}

.selected {
  color: purple;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  section:nth-of-type(1) {
    padding-bottom: 50%;
  }

  .logo {
    content: url(./images/logo.png);
    object-fit: cover;
    width: 50%;
    height: auto;
  }
}
