$content-flex: 9;
$fontsize-p: 1rem;
$fontsize-nav: 1em;
$typing-font: 3rem;
$link-color: rgba(0, 0, 0, 0.87);
$link-color-light: lightgray;
$primary-color: #6200ee;
$secondary-color: #03dac6;
$tertiary-color: #bb86fc;
$primary-color-variant: #3700b3;
$menu-color: $primary-color;
$page-color: #f7f7f7;
$font-family: 'Roboto';
$footer: $link-color;
