$content-flex: 9;
$fontsize-p: 1.2rem;
$fontsize-nav: 1em;
$typing-font: 3rem;
$link-color: #323232;
$primary-color: lightblue;
$secondary-color: lightseagreen;
$menu-color: lightblue;
$page-color: #f7f7f7;
$font-family: 'Roboto';
