$content-flex: 9;
$fontsize-p: 1rem;
$fontsize-nav: 1em;
$typing-font: 3rem;
$link-color: rgba(0, 0, 0, 0.87);
$primary-color: #6200ee;
$primary-color-variant: #3700b3;
$secondary-color: #03dac6;
$secondary-color-variant: #018786;
$tertiary-color: #bb86fc;
$menu-color: $primary-color;
$quaternary-color: #ffe5b4;
$page-color: #ffffff;
$font-family: 'Roboto';
$footer: $link-color;
