@import '../../variables.scss';

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 1em;
  font-size: x-large;
  a {
    color: $secondary-color;
  }

  svg:hover {
    transform: scale(1.15);
  }
}

@media only screen and (max-width: 600px) {
  .social__item {
    margin: 0.5em;
  }
}
